#account_form {
    position: relative;
    background-color: var(--bg-color);
    max-width: 480px;
    width: 100%;
    padding: 3rem;
    border-radius: 3px;
    margin: 0 auto;

    .close_btn {
        background-color: rgba(0, 0, 0, 0.5);
        color: #eee;
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        font-size: 1.8rem;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.form_head {
    h2 {
        margin-bottom: 0.6rem;
    }

    button {
        color: #eee;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.form_body {
    display: grid;
    gap: 1.5rem;
    margin: 2rem 0;

    .input_label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform-origin: 0 0;
        background-color: var(--bg-color);
        margin-top: -8px;
        padding: 0 5px;
        transition: transform 0.2s ease-in-out;
    }

    .input_field {
        padding: 0.95rem 0.85rem;
        
        &:focus-within ~ .input_label,
        &:valid ~ .input_label {
            transform: scale(0.85) translateY(-185%);
        }
    }

    .login_btn {
        margin-top: 0.8rem;
        margin-bottom: 0.4rem;
    }
}

.form_foot {
    text-align: center;

    p {
        position: relative;
        margin: 2rem 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 28%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.4);
            margin: 0.5px;
        }

        &::after {
            right: 0;
            left: auto;
        }
    }
}

.login_options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    a {
        color: #fff;
        text-shadow: var(--text-shadow);
        padding: 0.4rem 0.4rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;

        &:nth-child(1) {
            background-color: var(--fb-color);
        }

        &:nth-child(2) {
            background-color: var(--google-color);
        }

        &:nth-child(3) {
            background-color: var(--twitter-color);
        }
    }
}
